pkgbase = parca-bin
	pkgdesc = Continuous profiling for analysis of CPU, memory usage over time, and down to the line number. Saving infrastructure cost, improving performance, and increasing reliability.
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/parca-dev/parca
	arch = x86_64
	license = apache
	provides = parca
	source = parca-0.1.1.tar.gz::https://github.com/parca-dev/parca/releases/download/v0.1.1/parca_0.1.1_Linux_x86_64.tar.gz
	sha256sums = 275115cc1417a52b21d53833ab2e2e78c7a2c882598ee5a47e1ffdda96c6b70c

pkgname = parca-bin
