pkgbase = pwru-bin
	pkgdesc = Packet, where are you? -- Linux kernel networking debugger
	pkgver = 0.0.1
	pkgrel = 1
	url = https://github.com/cilium/pwru
	arch = x86_64
	license = GPL2
	provides = pwru
	source = pwru::https://github.com/cilium/pwru/releases/download/v0.0.1/pwru
	sha256sums = ae3f20d1760b10c845d2d9fcf9de4b7e417e9a8a9bc8ad0f460c9063ce0bc1a6

pkgname = pwru-bin
